::-webkit-scrollbar {
    width: 0px;
}

#mainNav {
    min-height: 2.5rem;
    /* padding: 2rem 1.5rem; */
    background: #cbe0f4;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: #cbe0f4;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: #000000;
    }
    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
        color: white;
    }
    #mainNav.navbar-shrink {
        min-height: 2.5rem;
        background-color: #cbe0f4;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #161616;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #161616;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: #64a19d;
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #fefefe;
        outline: none;
        border-bottom: 0.25rem solid #fefefe;
    }
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding-top: 15rem;
    padding-bottom: 25rem;
    background-color: #fafafa;
    background-image: url("../img/logoMuhbiAnimalsOp05Height.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.masthead h1 {
    background: -webkit-linear-gradient(
        rgba(245, 124, 39, 0.9),
        rgba(245, 124, 39, 0)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.masthead h2 {
    max-width: 50rem;
    font-size: 2.5rem;
}

.bg-gradiente {
    padding: 3rem;
    background: linear-gradient(
        to bottom,
        rgba(22, 22, 22, 0.3) 0%,
        rgba(22, 22, 22, 0.7) 90%,
        #161616 100%
    );
}

.about-section {
    padding-top: 5rem;
    /* padding-bottom: 4rem; */
    background: #fafafa;
    background-image: url("../img/logoMuhbiAnimalsOp05Height.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.projects-section {
    padding-top: 5rem;
    /* padding-bottom: 4rem; */
    background: #fafafa;
    background-image: url("../img/logoMuhbiAnimalsOp05Height.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.signup-section {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background: #fafafa;
    background-image: url("../img/logoMuhbiAnimalsOp05Height.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.contact-section {
    padding: 0;
    background: #fafafa;
    background-image: url("../img/logoMuhbiAnimalsOp05Height.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: #f57c27;
    border-radius: 10%;
    line-height: 3rem;
    color: #000000;
    font-size: 1.5rem;
}

.social a:hover {
    background: transparent;
    border: #f57c27 solid 1px;
    color: #f57c27;
}

footer {
    padding: 0.5rem;
    background-color: #000000;
    color: #f57c27;
}
